rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /products/{categoryId} {
      allow read: if true;
      # allow create, update, delete: if isSignedIn();

      match /items/{productId} {
        allow read: if true;
        # allow create, update, delete: if isSignedIn();
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}